<head>
    <title>Evalu8</title>
    <Link rel="stylesheet" type="text/css" href="/views/evaluate.css" />
    <meta name="viewport" content="width==device-width, initial-scale:1.0, user-scalable =0" />
    <script src="general.js"></script>

</head>
<body>
    <div id="header">
        <div class="logo"><a HREF='#'>Project <span>Evalu8</span></a></div>
    </div>
    <a class="mobile" href="#">MENU</a>
    <div id="container">
        <div class="sidebar">
            <ul id="nav">
                <li><a class="selected" href="/profile">Start</a></li>
                <li><a href="/kurser">Kurser</a></li>
                <li><a href="/frågor">Frågor</a></li>
                <li><a href="evaluation.html">Utvärderingar</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Kurser</h1>
            <div id="box">
                <div class="box-top">Skapa ett login. Lösenordet i första fältet i form av EX: kurskod+datum(ÅÅMMDD)+(upp till fyra valfria tecken). I det andra fältet ska deadline definieras. Ex: 15:00 ska det definieras som 15</div>
                <div class="box-panel">
                    <form action="/createEvaluationLogin" method="post">
                        <label for="EvaluationPassword">Skapa Lösenord:</label>
                        <input name="textbox1" type="text" id="var1" />
                        <input name="textbox2" type="text" id="var2" />
                        <input type="submit" value="Enter" />
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</body>
</HTML>
