<!doctype html>
<HTML>

<head>
    <title>Evalu8</title>
    <Link rel="stylesheet" type="text/css" href="/views/evaluate.css" />
    
    <script src="scripts/jquery-2.2.0.min.js"></script>
    <script src="scripts/r.js"></script>
    <script src="scripts/require.js"></script>
    <script src="/views/general.js"></script>
    <script src="/views/server.js"></script>
	<script src="/views/engine.js"></script>
	<script src="logininit.js"></script>
	<script src="/views/accounts.js"></script>
  <script src="/views/profilecontroller.js"></script>
</head>
<body>
    <div id="header">
        <div class="logo"><a HREF="/profile">Project <span>Evalu8</span></a></div>
    </div>
    <a class="mobile" href="evaluate.html">MENU</a>
    
    <div id="container">
        <div class="sidebar">
            <ul id="nav">
                <li><a class="selected" href="/profile">Start</a></li>
                <li><a href="/evLogin">Utvärderingar</a></li>
                <li><a href="/logout">Logga ut</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Välkommen till Evalu8 kära student</h1>
            <p>Här kan ska du kunna utföra utvärderingar på de kurser som du registrerad på, för att kunna garantera att du lyckas under kursens gång</p>
            <p>Klicka på kurser för att påbörja ditt arbete</p>
           
        </div>
        

        </div>
</body>
</HTML>
