
<HTML>

<head>
    <title>Evalu8</title>




    <Link rel="stylesheet" type="text/css" href="evaluate.css" />

    <meta name="viewport" content="width==device-width, initial-scale:1.0, user-scalable =0" />

    <script src="scripts/jquery-2.2.0.min.js"></script>
    <script src="scripts/r.js"></script>
    <script src="scripts/require.js"></script>
    <script src="connection.js"></script>
    <script src="general.js"></script>

</head>

<body>

    <div id="header">
        <div class="logo"><a HREF='#'>Project <span>Evalu8</span></a></div>
    </div>



    <a class="mobile" href="#">MENU</a>

    <div id="container">

        <div class="sidebar">
            <ul id="nav">
                <li><a class="selected" href="evaluate.html">Start</a></li>
                <li><a href="kurser.html">Kurser</a></li>
                <li><a href="Frågor.html">Frågor</a></li>
                <li><a href="evaluation.html">Utvärderingar</a></li>
            </ul>
        </div>
        <div class="content">

            <h1>Frågor</h1>

            <p>Here can you do stuff</p>

            <div id="box">

                <div class="box-top">News</div>

                <div class="box-panel">This is Some news</div>

            </div>

            <div id="box">

                <div class="box-top">News</div>

                <div class="box-panel">This is no news</div>

            </div>

            <div id="box">

                <div class="box-top">News</div>

                <div class="box-panel">This is another news</div>

            </div>

        </div>

    </div>

</body>

</HTML>

