<!doctype html>
<HTML>

<head>
    <title>Evalu8</title>
    <Link rel="stylesheet" type="text/css" href="/views/evaluate.css" />
    
    <script src="scripts/jquery-2.2.0.min.js"></script>
    <script src="scripts/r.js"></script>
    <script src="scripts/require.js"></script>
    <script src="/views/general.js"></script>
    <script src="/views/server.js"></script>
	<script src="/views/engine.js"></script>
	<script src="/views/logininit.js"></script>
	<script src="/views/accounts.js"></script>
  <script src="/views/profilecontroller.js"></script>
</head>
<body>
    <div id="header">
        <div class="logo"><a HREF="/profile">Project <span>Kurs</span></a></div>
    </div>
    <a class="mobile" href="evaluate.html">MENU</a>
    
    <div id="container">
        <div class="sidebar">
            <ul id="nav">
                <li><a class="selected" href="/profile">Start</a></li>
                <li><a href="/kurser">Kurser</a></li>
                <li><a href="/frågor">Frågor</a></li>
                <li><a href="evaluation.html">Utvärderingar</a></li>
                <li><a href="/logout">Logga ut</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Kurs</h1>
            
            <p>Logga in här för att påbörja en utvärdering</p>
            <button> <a href="/evaluationlogin">Start</a></button>
        
        </div>
</body>
</HTML>
